In [1]:
import pandas as pd
yep=pd.read_csv(r'C:\Users\Ayan\Desktop\yoo.csv')
print(yep)

      id               name               nationality                 city  \
0      0          Kiana Lor                     China               Suzhou
1      1     Joshua Lonaker  United States of America        Santa Clarita
2      2      Dakota Blanco  United States of America              Oakland
3      3    Natasha Yarusso  United States of America        Castro Valley
4      4     Brooke Cazares                    Brazil  São José dos Campos
..   ...                ...                       ...                  ...
302  302        Austin Haas  United States of America             Columbus
303  303    Madison Fithian  United States of America          Los Angeles
304  304  Zachary Mulvahill  United States of America          Los Angeles
305  305   Eliana Michelsen  United States of America              Oakland
306  306    Dane Whittemore                    Canada              Toronto

     latitude  longitude gender  ethnic.group  age  english.grade  math.grade  \
0       31.31     120.62      F           NaN   22            3.5         3.7
1       34.39    -118.54      M           NaN   22            2.9         3.2
2       37.80    -122.27      F           NaN   22            3.9         3.8
3       37.69    -122.09      F           NaN   20            3.3         2.8
4      -23.18     -45.88      F           NaN   21            3.7         2.6
..        ...        ...    ...           ...  ...            ...         ...
302     39.96     -83.00      M           NaN   20            3.6         3.7
303     34.05    -118.24      F           NaN   20            3.6         3.9
304     34.05    -118.24      M           NaN   20            3.2         3.4
305     37.80    -122.27      F           NaN   23            3.0         2.8
306     43.67     -79.42      M           NaN   21            3.8         3.2

     sciences.grade  language.grade  portfolio.rating  coverletter.rating  \
0               3.1             1.0                 4                 4.0
1               3.6             5.0                 5                 4.0
2               3.2             5.0                 3                 3.0
3               3.2             5.0                 5                 2.0
4               3.4             1.0                 4                 4.0
..              ...             ...               ...                 ...
302             3.1             5.0                 4                 5.0
303             4.0             5.0                 5                 5.0
304             3.9             5.0                 5                 5.0
305             2.9             5.0                 4                 4.0
306             4.0             5.0                 5                 4.0

     refletter.rating
0                   4
1                   5
2                   4
3                   4
4                   5
..                ...
302                 5
303                 3
304                 3
305                 5
306                 5

[307 rows x 16 columns]

In [8]:
import matplotlib.pyplot  as plt
%matplotlib inline
y1=yep['age']
y2=yep['english.grade']
float x;                           #debug the program
x=range(25.0)
plt.plot(x,y1)
plt.plot(x,y2)
plt.legend()

SyntaxError: invalid syntax (2047628119.py, line 5)